* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh; 
    overflow-y: hidden;
}

/*<recursos>------------------------------------------------------------------------*/
@font-face{
    font-family: BarlowCondensed;
    src: url(../font/BarlowCondensed-Regular.ttf);
}

@font-face{
    font-family: Bellefair;
    src: url(../font/Bellefair-Regular.ttf);
}

:root{
    --primaryColor:#0B0D17;
    --secondaryColor: #D0D6F9;
    --tertiaryColor: #FFFFFF;
    --QuartinaryColor: rgba(255, 255, 255, 0.04);
    --QuinternaryColor: rgba(255, 255, 255, 0.5021);
    --buttonHoverColor: rgba(255, 255, 255, 0.1036);
    --font1: Bellefair;
    --font2: BarlowCondensed;
    --font3: Barlow;

    --characterSpace1: 2.35px;
    --characterSpace2: 2.7px;
    --characterSpace3: 4.75px;
}
/*</recursos>------------------------------------------------------------------------*/

/*<nav>------------------------------------------------------------------------*/
.mobile-menu{
    display: none;
    cursor: pointer;
}

body .navBar{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 36px;
}

body .navBar hr{
    position: relative;
    width: 38%;
    left: 30px;
    border: thin solid var(--tertiaryColor);
    opacity: 0.2515;
    border-top: none;
    border-right: none;
    border-left: none; 
}

body .navBar .container-img{
    display: flex;
    justify-content: center;
    width: 150px;
}

body .navBar .imagem img{
    width: 48px;
    height: 48px;
}

body .navBar ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 62.5%;
    height: 80px;
    gap: 6%;
    background: var(--QuartinaryColor);
    backdrop-filter: blur(40.774227142333984px);

    
    font-family: var(--font2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: var(--characterSpace2)
    
}

body .navBar ul li, .menu-item{
    display: flex;
    align-items: center;
    height: 100%;
    transition: border-bottom 0.3s ease, border-radius 0.3s ease; 
    border-bottom: 3px solid transparent;
    transition: 0.4s;
}

.menu-item:hover{
    border-bottom: 3px solid var(--QuinternaryColor);
}

.active{
    border-bottom: 3px solid var(--tertiaryColor) !important;
}


body .navBar ul li a{
    color: var(--tertiaryColor);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

body .navBar ul li a span{
    margin-right: 8px;
    font-weight: 700;
}
/*</nav>------------------------------------------------------------------------*/
/*<Home>------------------------------------------------------------------------*/
.background-container{
    background-image: url(../img/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

body section{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 160px;
    padding-left: 160px;
}

body section .justify {
    display: grid;
    text-align: justify;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;
    align-content: center;
}

body section div h1{
    color: var(--tertiaryColor);
    font-family: var(--font1);
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body section div h5{
    color: var(--secondaryColor);
    font-family: var(--font2);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: var(--characterSpace3);
}

body section div article{
    color: var(--secondaryColor);
    font-family: var(--font3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

body section .btn-explore button{
    width: 274px;
    height: 274px;
    flex-shrink: 0;

    border-radius: 274px;
    border: none;
    background: var(--tertiaryColor);

    color: var(--primaryColor);
    font-family: var(--font1);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    transition: 0.5s;
}

body section .btn-explore button:hover{
    box-shadow: 0px 0px 1px 80px var(--buttonHoverColor);
    cursor: pointer;
}

/*</Home>-----------------------------------------------------------------------*/
/*<Destination>-----------------------------------------------------------------------*/
.background-container2{
    background-image: url(../img/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.background-container2 section{
    display: flex;
    width: 100%;
    height: 80%;
}

.background-container2 section figure {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    gap: 16%;
}

.background-container2 section img {
    height: 80%;
    width: 80%;
    margin-left: 50px;
}

.background-container2 section figure h5{
    display: flex;
    color: var(--tertiaryColor);
    font-family: var(--font2);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: var(--characterSpace3);
    text-transform: uppercase;
    gap: 20px;
}

.background-container2 section figure h5 span{
    font-weight: 700;
    opacity: 0.25;
}

.background-container2 section .planet-1{
    background-repeat: no-repeat;
    background-size: cover;
}
/*</Destination>-----------------------------------------------------------------------*/
/*<Crew>-----------------------------------------------------------------------*/
.background-container3{
    background-image: url(../img/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}
/*</Crew>-----------------------------------------------------------------------*/
/*<Technology>-----------------------------------------------------------------------*/
.background-container4{
    background-image: url(../img/assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}
/*</Technology>-----------------------------------------------------------------------*/

/*<Responsividade>-----------------------------------------------------------------------*/

/*<Mobile>----------------------------------------------------------------------------- */
@media (max-width: 480px){


body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}


@media (max-width: 400px){

    
    body{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }

    body .navBar{
        margin-bottom: 0px !important;
    }
}
}
/*</Mobile>----------------------------------------------------------------------------- */
/*<Extra small devices>----------------------------------------------------------------------------- */
@media (min-width: 200px) and (max-width: 767px){

/*<nav>------------------------------------------------------------------------*/

body .navBar{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
}

body .navBar ul{
    position: fixed;
    top: 0vh;
    bottom: 0vh;
    right: 0;
    width: 70%;
    height: 100vh;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
    overflow: hidden;
}

body .navBar ul.active-nav{
    transform: translateX(0) !important;
    overflow: hidden;
    display: flex;
    height: 100%;
    padding-left: 50px;
    padding-top: 130px;
    justify-content: flex-start;
    align-items: center;
}

.active {
    border-right: 3px solid var(--tertiaryColor) !important;
    border-bottom: none !important;
}

.menu-item:hover{
    border-bottom: none;
}

body .navBar ul li{
    margin-left: 0;
    opacity: 0; 
    transition: 0s;
    width: 100%;
    height: 10%;
    margin: 0;
}

body .navBar ul li.active-li{
    opacity: 1 !important;
    z-index: 3;
}

body .navBar ul li a {
    width: 100% !important;
}

body .navBar hr{
    display: none;
    transition: 0.8;
}

body .navBar .mobile-menu{
    display: block;
    z-index: 2;
}

body .navBar .mobile-menu div{
    width: 24px;
    height: 3px;
    background: var(--tertiaryColor);
    margin: 8px;
    transition: 0.5s;
}

body .navBar .rotate{
    transform: rotate(45deg);
    transition: 0.5s;
    position: fixed;
}

body .navBar .mobile-menu .ex1{
    transform: rotate(90deg);
    transition: 0.5s;
}

body .navBar .mobile-menu .ex2{
    position: fixed;
    transform: rotate(90deg);
    top: 0px;
    transition: 0.5s;
}

body .navBar .mobile-menu .ex3{
    top: 0px;
    position: fixed;
    transition: 1s;
}

body .navBar .container-img {
    display: flex;
    justify-content: normal;
    width: 100%;
}

/*</nav>------------------------------------------------------------------------*/
    /*<Home>------------------------------------------------------------------------*/
.background-container{
    background-image: url(../img/assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    overflow-y: auto;
}

::-webkit-scrollbar{
    width: 5px;
    background: var(--primaryColor);
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgba(35,59,90,255);
}

body section {
    display: grid;
    width: 100%;
    height: 80%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    justify-content: center;
}

body section .justify {
    display: flex;
    text-align: justify;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0%;
    align-items: center;
    margin-top: 20%;
}

body section div h1 {
    font-size: 80px;
    line-height: 100px;
}

body section div h5 {
    font-size: 16px;
    letter-spacing: 2.7px;
}

body section div article {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    width: 318px;
}

body section .btn-explore{
    display: flex;
    justify-content: center;
    
}

body section .btn-explore button {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-bottom: 10%;
    font-size: 20px;
}

body section .btn-explore button:hover {
    box-shadow: 0px 0px 1px 20px var(--buttonHoverColor);
}

/*</Home>-----------------------------------------------------------------------*/
}
/*</Extra small devices>----------------------------------------------------------------------------- */
/*<Small tablets>----------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px){
/*<nav>------------------------------------------------------------------------*/
body .navBar {
    margin-top: 0px;
    margin-bottom: 60px;
    transition: 0.8s;
}

body .navBar ul {
    width: 60%;
    height: 96px;
    gap: 30px;
    font-size: 14px;
    transition: 0.8s;
}

body .navBar ul li a span {
    display: none;
    transition: 0.5s;
}

body .navBar hr{
    display: none;
    transition: 0.8;
}

body .navBar ul li, .menu-item {
    display: flex;
    align-items: center;
    height: 100%;
    transition: border-bottom 0.3s ease, border-radius 0.3s ease;
    border-bottom: 3px solid transparent;
    transition: 0.4s;
}

/*</nav>------------------------------------------------------------------------*/
/*<Home>------------------------------------------------------------------------*/
.background-container{
    background-image: url(../img/assets/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    overflow-y: auto;
}

::-webkit-scrollbar{
    width: 5px;
    background: var(--primaryColor);
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgba(35,59,90,255);
}

body section {
    display: grid;
    width: 100%;
    height: 80%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    justify-content: center;
}

body section .justify {
    display: flex;
    text-align: justify;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0%;
    align-items: center;
    margin-top: 20%;
}

body section div h5 {
    font-size: 20px;
    letter-spacing: 3.375px;
}

body section div article {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    width: 420px;
}

body section .btn-explore{
    display: flex;
    justify-content: center;
    
}

body section .btn-explore button {
    width: 242px;
    height: 242px;
    border-radius: 274px;
    margin-bottom: 10%;
}

body section .btn-explore button:hover {
    box-shadow: 0px 0px 1px 20px var(--buttonHoverColor);
}


/*</Home>-----------------------------------------------------------------------*/
}
/*</Small tablets>----------------------------------------------------------------------------- */


/*<Large tablets/laptops>----------------------------------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px){

/*<nav>------------------------------------------------------------------------*/
body .navBar ul {
    width: 70%;
    font-size: 14px;
    transition: 0.8s;
}

body .navBar hr{
    width: 32%;
    transition: 0.5s;
}
/*</nav>------------------------------------------------------------------------*/
/*<Home>------------------------------------------------------------------------*/
.background-container{
    background-image: url(../img/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    transition: 1s;
}

body section {
    padding-left: 80px;
    padding-right: 180px;
    transition: 0.5s;
}

body section div h1 {
    font-size: 120px;
    transition: 0.8s;
}

body section div h5 {
    font-size: 18px;
    transition: 0.8s;
}

body section .btn-explore button {
    width: 240px;
    height: 240px;
    border-radius: 240px;
    font-size: 24px;
}

body section .btn-explore button:hover{
    box-shadow: 0px 0px 1px 40px var(--buttonHoverColor);
    cursor: pointer;
}

/*</Home>-----------------------------------------------------------------------*/

}
/*</Large tablets/laptops>----------------------------------------------------------------------------- */

/*<Extra large screens>----------------------------------------------------------------------------- */
@media (min-width: 1920px){

    body .navBar ul{
        font-size: 24px;
    }

    body .navBar ul {
        width: 70%;
        height: 130px;
        gap: 7%;
    }

    body section div h1 {
        font-size: 230px;
    }

    body section div h5 {
        font-size: 50px;
    }

    body section div article {
        color: var(--secondaryColor);
        font-family: var(--font3);
        font-size: 29px;
    }

    body section .btn-explore button {
        width: 347px;
        height: 347px;
        border-radius: 347px;
        font-size: 40px;
    }

    body .navBar .container-img {
        display: flex;
        justify-content: center;
        width: 250px;
    }

    body .navBar .container-img img{
        width: 60px;
    }
}
/*</Extra large screens>----------------------------------------------------------------------------- */

/*</Responsividade>-----------------------------------------------------------------------*/